Repository Avinash258/PlaywrightTSFrameWork: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-1.yml, azure-pipelines.yml

azure-pipelines-1.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Test
    displayName: Run Playwright Tests with Dashboard
    jobs:
    - job: PlaywrightTests
      displayName: Playwright Test Execution
      steps:
      - task: NodeTool@0
        displayName: Install Node.js
        inputs:
          versionSpec: $(NODE_VERSION)
  ...

azure-pipelines.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Test
    displayName: Run Playwright Tests with Dashboard
    jobs:
    - job: PlaywrightTests
      displayName: Playwright Test Execution
      steps:
      - task: NodeTool@0
        displayName: Install Node.js
        inputs:
          versionSpec: $(NODE_VERSION)
  ...

Enhance Azure DevOps pipeline configuration and testing setup
  .github/workflows/ci.yml
  AZURE_SETUP.md
  all-blob-reports/report-dde980d-1.zip
  all-blob-reports/report.jsonl
  azure-pipelines-sharded.yml
  azure-pipelines.yml
  blob-report/report-5.zip
  merge.config.ts
  package-lock.json
  package.json
  pipelines/templates/playwright-sharded-stages.yml
  playwright-report/index.html
  playwright.config.ts
  scripts/run-sharded-tests.ts
  src/config/sharding.ts
  src/data/shardTestCases.ts
  test-results/junit-shard-1.xml
  test-results/junit.xml
  test-results/results.json
  tests/api/shard-delete.api.spec.ts
  tests/api/shard-get.api.spec.ts
  tests/api/shard-patch.api.spec.ts
  tests/api/shard-post.api.spec.ts
  tests/api/shard-put.api.spec.ts
  tests/ui/shard-auth.ui.spec.ts
  tests/ui/shard-products.ui.spec.ts
  tsconfig.json
Due: azure-pipelines-1.yml, azure-pipelines.yml

Add professional README documentation
  README.md
Due: none

chore: professional hygiene — LICENSE, gitignore, README accuracy
  .gitignore
  LICENSE
  README.md
  all-blob-reports/report-dde980d-1.zip
  all-blob-reports/report.jsonl
  blob-report/report-5.zip
  playwright-report/index.html
  test-results/.last-run.json
  test-results/junit-shard-1.xml
  test-results/junit.xml
  test-results/results.json
Due: azure-pipelines-1.yml, azure-pipelines.yml

chore: add Dependabot for npm and GitHub Actions
  .github/dependabot.yml
Due: azure-pipelines-1.yml, azure-pipelines.yml

docs: add SECURITY and CONTRIBUTING
  CONTRIBUTING.md
  SECURITY.md
Due: azure-pipelines-1.yml

fix: update portfolio URL after repo rename
  README.md
Due: none

Path conditions:
  azure-pipelines-1.yml: any file but: README.md, .gitignore
  azure-pipelines.yml: any file but: README.md, .gitignore, docs, *.md
